.PurchaseHisotryContianer{
  width: 1080px;
}
.PurchaseTitle{
  padding-top: 88px;
  padding-bottom: 50px;;
}
.PurchasedList{
  border-bottom: solid 1px #d6d6d6;
}
.PurchasedDesc{
  padding-left: 42px;
}

.ToggleList{
  margin-bottom: 70px;
}

.PurchasedCardThumb{
  max-width: 200px;
  max-height:200px;
}
.None{
  display: none;
}
.ReqReview{
  border-radius: 6px;
  border: 2px solid #ff4a70;
  color: #ff4a70;
  width: 240px;
  height: 40px;
}