.Card{
  margin: 12px;
  align-items: center;
  max-width:  246px;
  position:relative
}

.CardThumb{
  max-width: 100%;
}


.CardCategory{
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
}
.Tag{
  border: 1px solid black;
  margin-right: 2px;
  margin-left:  2px;;
  border-radius: 4px;
}
.CardDate{
  width: 181px;
  height: 27px;
  font-family: 'nanumSquare';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #767677;
}

.CardTitle{
  width: 246px;
  min-height: 52px;
  font-family: 'nanumSquare';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 6px;
}

.CardPrice{
  width: 60px;
  height: 27px;
  font-family: 'nanumSquare';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.93;
  letter-spacing: normal;
  color: #ff4a70;
}
.CardLikes{
  width: fit-content;
  position: absolute;
  z-index: 10;
  right:10%;
  top:10%;
  
}
.LikeActive{
  filter: invert(44%) sepia(70%) saturate(2582%) hue-rotate(319deg) brightness(99%) contrast(105%);
}