
.CardsContainer{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.CardList{
  width: 70%;
}
.CardListTitle{
  font-weight: bolder;
  font-size:xx-large;
  left: 9%;
  position: relative;
}