
.CardsContainer{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}
.CardList{
  width: 1080px;
  margin-bottom: 80px;
}
.CardListTitle{
  width: 116px;
  height: 52px;
  padding-left:12px;
  font-family: 'nanumSquare EBold';
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.17;
  letter-spacing: normal;
  color: #000000;
  justify-self: flex-start;
}
.MoreInfo{
  float: right;
  width: 150px;
  height: 50px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CardListMoreBtn{
  width: 150px;
  height:50px;
  border-radius: 10px;
  justify-self: right;
}
.CardFilter{
  width: 113px;
  justify-content: space-between;
}

.FilterContainerOpen{
  margin-left: -1%;
  margin-top:1%;
  display: block;
  position: absolute;
  background-color: #ffffff;
  z-index: 30;

  width: 118px;
  height: 132px;
  border: solid 2px #000;
  padding: 14px 0px 15px 15px;
}
.FilterContainerClose{
  display: none;
}