
.CareerTeachContainer{
  max-width: 766px;
  overflow: visible;
  position: relative;
}
.CareerTeachHeaderImg{
  padding-right: 55px;
  height: 336px;
  width: 336px;
}

.CareerTeachHeaderTitle{
  padding-top:10px;
  padding-bottom: 45px;
}

.CareerTeachHeaderDate{
  color: #767677;
}
.CareerTeachHeaderPrice{
  color: #ff4a70
}
.CareerTeachHeader{
  padding-bottom: 70px;
  position: relative;
}
.CareerTeachMiddelUI{
  min-width: 100vw !important;
  position: sticky;
  top:0px;
  background-color: #ffffff;
  height:80px;
  z-index: 15;
  justify-content: center;

  border-top: 1px solid black;
  border-bottom:  1px solid black;
  margin-left: calc(-100vw / 2 + 750px / 2);


  margin-bottom: 50px;
}
.MiddleUiInner{
   width: 650px;
}
.MiddleUiBtn{
 margin-right: 36px; 
}
.ParticipateUpper{
  width: 261px;
  height: 50px;
}

.ParticipateUpperDisabled{
  width: 261px;
  height: 50px;

  border-radius: 10px;
  font-family: "nanumSquare EBold";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: rgb(100,100,100);
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.ParticipateLower{
  width: 202px;
  height: 50px;
}

.ParticipateLowerDisabled{
  width: 202px;
  height: 50px;

  border-radius: 10px;
  font-family: "nanumSquare EBold";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: rgb(100, 100, 100);
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LikeImg{
  padding-right: 3px;
}

.LikesUpperDisabled{
  border-radius: 10px;
  font-family: "nanumSquare EBold";
  font-weight: bold;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: rgb(100,100,100);
  border: solid 2px rgb(100,100,100);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 68px;
  height: 50px;
  margin-left: 8px;

  z-index: 10;
}
.LikesUpperDisabled img{
 filter: invert(42%) sepia(1%) saturate(1106%) hue-rotate(39deg) brightness(92%) contrast(96%);
}

.LikesLowerDisabled{
  border-radius: 10px;
  font-family: "nanumSquare EBold";
  font-weight: bold;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: rgb(100,100,100);
  border: solid 2px rgb(100,100,100);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 68px;
  height: 50px;
  margin-left: 8px;

  z-index: 10;
}
.LikesLowerDisabled img{
 filter: invert(42%) sepia(1%) saturate(1106%) hue-rotate(39deg) brightness(92%) contrast(96%);
}

.ShareBtn{
  margin-left:16px;
  width: 24px;
  height:22px;
}
.ModalHidden{
  display: none !important;
}

.ModalContainer{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;

  display: block;

  font-family: "nanumSquare Bold";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.ShareModal{
  width: 222px;
  height: 126px;
  border-radius: 10px;
  border: solid 2px #000000;
  background-color: #ffffff;
  position: relative;
  z-index: 12;
}

.ModalTop{
  justify-content: space-around;
  margin-bottom: 25px;
  margin-top: 24px;
}
.ModalExit{
  position: absolute;
  right:21px;
  top:25px;
}

.ModalShareBtns{
  height:36px;
  margin-left: 4.5px;
  margin-right:4.5px;
}

.EditorHolder{
  padding-top: 30px;
  padding-bottom: 50px;
}
.AccordionBtn{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  height: 1px;
  width: 1px;
  transition: 0.2s;
  margin-right: 10px;
}
.AccordionContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
    width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;

  border-top: 1px solid black;
}

.AccordionText{
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  width: 600px;
}
.AccordionOpen{
  padding-top:20px;
  padding-bottom: 50px;
}

.BtnOpen{

  display: inline-block;
  transform: rotate(45deg);
}
.test{
  transition: 1s;
}

.ReviewContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 34px;
}
.ReviewDescContainer{
  justify-content: space-between;
}
.ReviewThumb{
  width: 74px;
  height: 74px;
  margin-right:23px;
  clip-path: circle(40%)
}
.ReviewDetail{
  width: 553px;

}
.Reviewer{
  font-family: "nanumSquare Bold";
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #000000;
}
.ReviewDate{
  font-family: "nanumSquare Bold";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #aeaeae;
  align-self: center;
  padding-left: 12px;
}

.PaginationContainer{
  display: flex;
  justify-content: center;
}

.PaginationItem{
  font-family: "nanumSquare Bold";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 3px;
  padding-right: 3px;
  transition: 0.2s;
  padding-bottom: 7px;
}
.PageIndicator{

  border-bottom: 1px solid black;
  transition: 0.2s;
}
.PaginationUI{
  font-family: "nanumSquare Bold";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 7px;
  padding-right:7px;
}

.FaqTitle{
  padding-bottom: 31px;
}
