.FooterUpper{
    height: 50%;
    margin-bottom: 2vh;
    display: flex;
    align-items: flex-start;
}

.CustomerService, .Contact, .Social, .FooterInner {
  margin-right: 25px;

  width: 246px;
}
.WorkingHour, .ContactMethods, .SocialMethods {
  margin-top: 17px;
}

.FooterInner{
  display: block;
}
.FooterContainer{

    width: 99vw;
    padding-top:  120px;
    
}
.FooterLogo{
  padding-right: 83px;
  height: 26px;

  align-self:flex-start ;
}

.WardOffice{
  width: 35px;
  height: 27px;

  padding-bottom: 5px;
}