.MentorContainer, .InfoTopContainer{
  width: 1080px;
}

.TeachContainer{
  padding-top:80px;
  width: 1080px;
}
.CategoryBtnContainer{
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 12px;
}
.CategoryBtn{
  width: 126px;
  height: 44px;
  margin-right: 12px;
  color: #ffffff;
}
.CategoryActive{
  color:#000000
}
.PageNationContainer{

  padding-bottom:120px;
}