.Card{
  border: 1px solid black;
  margin: 1vw;
  align-items: center;
}

.CardThumb{
  max-width: 10vw;
}
.Card{
  max-width: 10vw;
}

.CardCategory{
  display: flex;
}
.Tag{
  border: 1px solid black;
  margin-right: 1vw;
}